.center {
  display: flex;
}
.columns {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
}

.outer_button {
  background-color: blue;
  color: aliceblue;
}
.inner_button {
  background-color: skyblue;
}
.start_button {
  background-color: aquamarine;
}
button {
  width: 175px;
  height: 30px;
  text-align: center;
  padding: 5px 15px !important;
  border-radius: 5px;
}

.hide {
  display: none;
}

h2,
h3,
h4,
p {
  text-align: center;
}

#table03{
  position: relative;
  margin-top: -185px;
  margin-left: 900px;
}
#table02{
  position: relative;
  margin-top: -300px;
  margin-left: 500px;
}
#cal{
  margin-top: 180px;;
}
